# ========================
# RCA Master Ignore File
# ========================

# 1. Secret Keys 
.env
.env.local
*.env*

# 2. Python / Edge Pipeline
rca-edge-cv/venv/
rca-edge-cv/__pycache__/
*.pt
*.onnx

# 3. Next.js / Dashboard
rca-dashboard/node_modules/
rca-dashboard/.next/


venv/
__pycache__/
datasets/
runs/
*.pt
!best.pt